<!DOCTYPE html>

{%  extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chautauqua Blog Homepage</title>

</head>
<body>

<!-- including bootstrap necessities and standard navigation header-->
{% block content %}
<div style="display:inline-flex; height: 450px; width: 100%; background-color: #000066;">
    <div style="overflow: hidden; height: 450px; width: 70%;">
        <img class= "rounded" src="{% static 'CYCImage.jpg' %}" style="margin: -75px 0 0 0;">
    </div>
    <div>
        <img class="rounded-circle border border-success" src ="{% static 'sailboats.jpg' %}" style="margin-left: 12.5%; margin-top:15%">
        <p style=" color: white;text-align: center;margin-left: 18%; font-family: Georgia; font-size: 200%;margin-top: 5%;"> Come Sail with Us</p>
    </div>
</div>
    <div style="background-color: darkred; height: 30px;">
    </div>


<!-- Simple Header Labeling the Articles and how they are sorted  -->
<div style="text-align: center; margin: 5px;">
    <div class="border rounded border-success p-1 mb-2" style=" display: inline-block; width: 20%; background-color: #000066;">
<h1 style="color:white;">Upcoming Events:</h1>
    <hr style="margin: 0em;">
    <!-- Depending on the existence of the "sort" url parameter print corresponding description -->
    {% if 'sort' in request.GET %}
        <div style="text-align: center;"><small id = "sortHeader" style="color: white;">Earliest</small></div>
        {% else %}
        <div style="text-align: center;"><small id = "sortHeader" style="color: white;">Most Recent</small></div>
{% endif %}
    </div>
</div>




<!-- Setup for the button to flip the ordering of the post on the homepage-->
<div style="margin-top: -5px;  margin-right: 5px">
    {% if 'sort' in request.GET %}
        {% if 'sorth' in request.GET %}
         <a href = "{% url 'homepage' %}?sorth=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% else %}
            <a href = "{% url 'homepage' %}" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
        {% endif %}
        {% else %}
        {% if 'sorth' in request.GET %}
    <a href = "{% url 'homepage' %}?sort=1&sorth=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% else %}
            <a href = "{% url 'homepage' %}?sort=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% endif %}
   {% endif %}
    </div>
    </div>
    </br>
    <hr>



<!-- Printing of all posts and buttons to their detail pages -->
    <!-- This section can be improved by handling the possibility of no Posts existing -->
    <!-- If sort url parameter exists, flip for loop-->
    {% if 'sort' in request.GET %}
        <!-- flipped for loop to iterate through post and print in standard format -->
    {% for post in object_list reversed%}
    {% if post.pubStatus %}
    {% if post.future %}
    
         <div class="border rounded border-success p-1 mb-2" id="outer" style="margin: 25px;">

        <div style="display:inline-block; vertical-align: -4px; margin-left: 2px;" ><img src ="../media/{{ post.heroHeader}}" id = "inner"alt = "heroHeader" class = "rounded"
         style="max-width: 140px; width: auto; height: 50px; float:left"></div>
        <div style="display: inline-block;">
            {{post.title}} - {{post.author}}- Posted: {{ post.created_at }} {{todays_date}}
            <br/>
            <span style="display: block; width: 1000px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{post.body}}</span>
        </div>
        <div  id= "inner" style=" float: right; margin-top: 8px; margin-right: 5px;">
            <!-- Button to visit detailed post page -->
            <a href="{% url 'detailed_post' post.pk%}" style= "vertical-align: middle"><button class = "btn btn-success">Read Article</button></a>
        </div>
         </div>
    </div>
    {% endif %}
{% endif  %}
{% endfor%}


<!-- if sort url parameter does not exist, don't flip for loop-->
        {% else %}
<!-- for loop to iterate through post and print in standard format -->
        {% for post in object_list %}
            {% if post.pubStatus %}
            {% if post.future %}
            
            
            <div class="border rounded border-success p-1 mb-2" id="outer" style="margin: 25px;">

            <div style="display:inline-block; vertical-align: -4px; margin-left: 2px;" >
                <img src ="../media/{{ post.heroHeader}}" id = "inner"alt = "heroHeader" class = "rounded" style="max-width: 140px; width: auto; height: 50px; float:left">
            </div>
            <div style="display: inline-block;">
                {{post.title}} - {{post.author}} - Posted: {{ post.created_at }}
                <br/>
                <span style="display: block; width: 1000px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{post.body}}</span>
            </div>
            <div  id= "inner" style=" float: right; margin-top: 8px; margin-right: 5px;">
                 <!-- Button to visit detailed post page -->
                <a href="{% url 'detailed_post' post.pk%}" style= "vertical-align: middle"><button class = "btn btn-success">Read Article</button></a>
            </div>
            </div>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
{% endif %}






    <div style="text-align: center; margin: 5px;">
    <div class="border rounded border-success p-1 mb-2" style=" display: inline-block; width: 20%; background-color:#000066">
<h1 style="color:white;">Event History:</h1>
    <hr style="margin: 0em;">
    <!-- Depending on the existence of the "sort" url parameter print corresponding description -->
    {% if 'sorth' in request.GET %}
        <div style="text-align: center;"><small id = "sortHeader" style="color: white;">Earliest</small></div>
        {% else %}
        <div style="text-align: center;"><small id = "sortHeader" style="color: white;">Most Recent</small></div>
{% endif %}
    </div>
</div>
    <div style="margin-top: -5px;  margin-right: 5px">
    {% if 'sorth' in request.GET %}
        {% if 'sort' in request.GET %}
         <a href = "{% url 'homepage' %}?sort=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% else %}
            <a href = "{% url 'homepage' %}" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
        {% endif %}
        {% else %}
        {% if 'sort' in request.GET %}
    <a href = "{% url 'homepage' %}?sort=1&sorth=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% else %}
            <a href = "{% url 'homepage' %}?sorth=1" style="display: inline-block; float: right"> <button class = "btn btn-success" style="background-color: #000066;">Flip order</button> </a>
            {% endif %}
   {% endif %}
    </div>





    {% if 'sorth' in request.GET %}
    <!-- flipped for loop to iterate through post and print in standard format -->
{% for post in object_list reversed%}
{% if post.pubStatus %}
{% if post.future %}
{% else %}
     <div class="border rounded border-success p-1 mb-2" id="outer" style="margin: 25px;">

    <div style="display:inline-block; vertical-align: -4px; margin-left: 2px;" ><img src ="../media/{{ post.heroHeader}}" id = "inner"alt = "heroHeader" class = "rounded"
     style="max-width: 140px; width: auto; height: 50px; float:left"></div>
    <div style="display: inline-block;">
        {{post.title}} - {{post.author}}- Posted: {{ post.created_at }}
        <br/>
        <span style="display: block; width: 1000px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{post.body}}</span>
    </div>
    <div  id= "inner" style=" float: right; margin-top: 8px; margin-right: 5px;">
        <!-- Button to visit detailed post page -->
        <a href="{% url 'detailed_post' post.pk%}" style= "vertical-align: middle"><button class = "btn btn-success">Read Article</button></a>
    </div>
     </div>
</div>
{% endif %}
{% endif  %}
{% endfor%}


<!-- if sort url parameter does not exist, don't flip for loop-->
    {% else %}
<!-- for loop to iterate through post and print in standard format -->
    {% for post in object_list %}
        {% if post.pubStatus %}
        {% if post.future %}
        {% else %}
        <div class="border rounded border-success p-1 mb-2" id="outer" style="margin: 25px;">

        <div style="display:inline-block; vertical-align: -4px; margin-left: 2px;" >
            <img src ="../media/{{ post.heroHeader}}" id = "inner"alt = "heroHeader" class = "rounded" style="max-width: 140px; width: auto; height: 50px; float:left">
        </div>
        <div style="display: inline-block;">
            {{post.title}} - {{post.author}} - Posted: {{ post.created_at }}
            <br/>
            <span style="display: block; width: 1000px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{post.body}}</span>
        </div>
        <div  id= "inner" style=" float: right; margin-top: 8px; margin-right: 5px;">
             <!-- Button to visit detailed post page -->
            <a href="{% url 'detailed_post' post.pk%}" style= "vertical-align: middle"><button class = "btn btn-success">Read Article</button></a>
        </div>
        </div>
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
</body>
</html>