<!DOCTYPE html>
<!-- Bring in Bootstrap Functionality -->
{%  extends 'base.html' %}
<!-- Rename Title -->
{% load custom_tags %}
{% block title %}Post Details{% endblock %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
</head>

<body>
{% block content %}
    <!-- bring in static and dynamic media -->
    {% load static %}
    <br/>
    <!-- Hero Header
    Standardized 500 px height. Will center the image based on its width.
    If width is larger than the screen's size, image is shrunk to fit.
    -->
    <div style="text-align: center;"><img src ="../media/{{ event.heroHeader}}" alt = "heroHeader" class = "rounded"
    style="max-width:100%;width: auto; height: 500px"></div>
    
    <div class = "form-control rounded border-success p-1 mb-2" style="margin: 25px; max-width: 96%;margin-left: 2%">
<h1>{{ event.title }}</h1>
<h2>By: {{ event.author}}</h2>
    <small>Posted: {{ event.created_at }} </small><small style="float:right; margin-right: 5px;">Viewed: {{ event.viewCount }}</small>
<hr>
<p>{{ event.body }}</p>
    </div>

    <!--
    
--> 
    
   
    {% if not regist  %}
    {% if request.user.is_authenticated %}
    <form  method="post">
      {% csrf_token %}
      
      {{ form.as_p }}
      
      
      <button type="submit">Register</button>
    </form>
  {% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to register for this event.</p>
  {% endif %}
    {% else %}
    <p> You are already registered for this event </p>
    
  
  {% endif%}
  

  <center><p>Registered Participants</p>
  {% if not event.regs.all %}
    No Participants Registrated
    {% else %}
    <hr>
    {% for reg in event.regs.all %}
        <div style="display:inline-flex"><p>Participant: {{ reg.user }}  Boat: {{ reg.boat.classification }}{{ reg.boat.number }}</p></div><br>
    {% endfor%}
  {% endif %}
</center>
 





    <!--
    <div class="form-control rounded border-success p-1 mb-2 " style="margin: 25px; max-width: 96%;margin-left: 2%">
        <strong>Add Comment</strong>
    <hr style="margin-top:0px;">
    <div class = "form-group">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div style ="display: inline-flex; align-items: center;">
            <div style ="margin: 5px;">
                {{ field.label_tag }}
            </div>
            <div style ="margin: 5px; ">
            {{ field }}
            </div>
            </div>
        {% endfor %}
    <div style=" float: bottom; margin-bottom: 5px; margin-left: 93%;">
        
        <button class= "btn btn-success" onClick="this.form.submit();this.disabled=true; this.value='Sending…';">Comment</button>
    </div>
    </form>
    </div>
    </div>



    <div class="form-control rounded border-success p-1 mb-2" style="margin: 25px; max-width: 96%;margin-left: 2%">
    
    {% if not post.comments.all %}
    No Comments yet...
    {% else %}
        
        <strong>Comments:</strong>
        <hr style="margin-top:0em;">
        {% for comment in post.comments.all reversed%}
            <div style="display: inline-block; margin-left: 20px; margin-top:-10px;">
            <strong>{{ comment.name }} - {{ comment.created_at }}</strong></br>
            {{ comment.comment }}
            </div>

            
            <div style=" float: right;display: inline-flex; ">
             {% with sum=comment.upVote|add:comment.downVote  %}
                <strong style="margin: 10px;">Likes: {{ sum }}</strong>
            {% endwith %}

            
            <form action = "{% url 'upvote' event.pk %}" method="POST">
                {% csrf_token %}
                <button class = "btn btn-success" style="display:flex; margin: 5px;" type="submit" value="{{ comment.id }}" name="upvoteID">upvote</button>
            </form>
           
            <form action = "{% url 'downvote' event.pk %}" method="POST">
                {% csrf_token %}
                <button class = "btn btn-success" style="display:flex; margin: 5px;" type="submit" value="{{ comment.id }}" name="downvoteID">downvote</button>
            </form>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
    </div>
    </br>
    </br>
-->


    <!--Return to Bootstrap Implementation -->
{% endblock %}



</body>
</html>
